* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 40%;
  border-radius: 5px;
  height: 500px;
  margin: 30px auto;
  padding: 20px;
  overflow: hidden;
  position: relative;
  background-color: rgb(193, 195, 206);
  box-shadow: 0px 0px 5px rgb(100, 99, 99);
}

.modify-form {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: azure;
}

.modifying-job {
font-size: 22px;
color: rgb(59, 66, 95);
margin-bottom: 4px;
}

.close-btn{
font-size: 30px;
position: absolute;
top: 5px;
right: 10px;
color: rgb(165, 165, 165);
}
.close-btn:hover {
cursor: pointer;
color: rgb(81, 81, 81);
}
.blur {
filter: blur(3px);
pointer-events: none;
}

.deactive{
display: none;
}


.input-form {
  border-bottom: 1px solid rgb(118, 118, 118);
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-label {
  margin-bottom: 10px;
  font-size: 20px;
}

input {
  width: 100%;
  padding: 7px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(158, 158, 158);
  color: rgb(93, 93, 93);
  font-size: 18px;
}
input::placeholder {
  color: rgb(188, 188, 188);
}

.error {
  color: red;
  font-size: 16px;
}

.no-job {
  font-size: 20px;
  color: rgb(115, 115, 115);
}

button {
  padding: 7px 30px;
  width: 50%;
  margin-top: 10px;
  background-color: rgb(154, 240, 212);
  color: rgb(1, 114, 41);
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  font-size: 17px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(40, 174, 129);
}

.list-job {
  height: 300px;
  overflow-y: scroll;
}
ul {
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 7px;
}

.item-control {
  width: 13%;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  font-size: 20px;
  color: rgb(255, 87, 110);
}
.delete-btn:hover {
  cursor: pointer;
  color: rgb(249, 21, 52);
}

.edit-btn {
  font-size: 20px;
  color: rgb(108, 194, 252);
}
.edit-btn:hover {
  cursor: pointer;
  color: rgb(45, 146, 254);
}

.arrow {
  margin-right: 5px;
  color: rgb(162, 245, 245);
}
